<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vonkanehoffen.desk-lights-watcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/kane/.local/bin/desk-lights-watcher</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>/Users/kane/Library/Logs/desk-lights-watcher.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/kane/Library/Logs/desk-lights-watcher.log</string>
</dict>
</plist>
